.btn-100px{
    width: 100px;
}

.m-l-0 {
    margin-left: 0 !important;
}

#loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.inside-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 30rem);
}
