:root{
    --bs-body-font-family: 'Roboto', 'san-serif';
}

html,
body{
    height: 90% !important;
}

.container > .row > div > a {
    text-decoration: none !important;
    color: RGBA(var(--bs-success-rgb), var(--bs-link-opacity, 1)) !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

@media (max-width: 520px) {
    .col-xs-2{
        flex: 0 0 auto;
        width: 16.66%;
    }
    .custom-col{
        margin-top: 8px;
        width: 25% !important;
    }

    .row > * {
        padding-left: 4px;
        padding-right: 4px;
    }
}

@media (max-width: 1396px){
    .custom-col{
        margin-top: 8px;
        width: 25% !important;
    }
}

.custom-col {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 8%;
}

.w-10{
    width: 10% !important;
}

.hide{
    display: none;
}

.autocomplete-searchbox {
    height: 50px;
    width: 600px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }







